@import "./scss/variables.scss";

.App {
  h1 {
    font-size: 1.9rem;
    color: $primary-color;
    margin-bottom: 20px;
    text-align: center;
  }

  padding: 20px;

  .loader {
    text-align: center;
  }
}
